<!DOCTYPE html>
<html lang="en" ng-app="TodoChallenge">
  <head>
    <meta charset="utf-8">
    <title>Todo Challenge</title>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/todoChallengeController.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body ng-controller="TodoChallengeController as ctrl">
    <h1>To Do List</h1>
    <form>
        <input type="text" ng-model="ctrl.taskText">
        <div class="btn" id="btn" ng-click="ctrl.addTask()">Add Task</div>
    </form>
    <ul class="list-group">
      <li ng-repeat="task in ctrl.taskList">
        <input type="checkbox" class="checkbox" ng-click="ctrl.check(task.id)" ng-checked="task.status=='checked'">
        <span class="taskText">{{task.text}}</span>
        <div class="btn" id="delbtn" ng-click="ctrl.delTask(task.id)">x</div>
      </li>
    </ul>
    <div class="count">Total Tasks: {{ctrl.totalTasks()}}</div>
    <div class="btn" id="delcheckedbtn" ng-click="ctrl.delChecked()">Delete all Completed</div>

  </body>
</html>