body {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
}
h1 {
  font-size: 250%;
  text-decoration: underline;
}
ul {
  list-style-type: none;
}
.btn {
  display: inline-block;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  background-color: #595959;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}
.btn:hover {
  background-color: #737373;
}
.btn:active {
  background-color: #1a1a1a
}